version: "3.8"

services:
  minio:
    image: juanitoboop/minio-custom:latest
    container_name: minio
    ports:
      - "9000:9000"    # API
      - "9090:9090"    # Consola
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - ./data:/data
    command: server /data --console-address ":9090"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 3s
      retries: 10